input[type='text'],
input[type='password'],
input[type='file'] {
	width: 90%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	border-radius: 10px;
}

button {
	background-color: #474343;
	color: #fff9f8;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 25%;
}

button:hover {
	opacity: 0.8;
}

.App-upload {
	width: 500px;
	border-radius: 10px;
	overflow: hidden;
	padding: 60px 60px 40px 60px;
	background: -webkit-linear-gradient(top, #d8dbd8, #8f82d4);
	background: -o-linear-gradient(top, #d8dbd8, #8f82d4);
	background: -moz-linear-gradient(top, #d8dbd8, #8f82d4);
	background: linear-gradient(top, #d8dbd8, #8f82d4);
	margin: 10% auto;
}
@media only screen and (max-width: 680px) {
	.App-upload {
		width: 300px;
	}
}
