.download-list {
	margin: 5%;
	margin-top: 8%;
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-template-rows: repeat(2, 320px);
}
#filter-input {
	width: 40%;
	margin: 10% 0% -5% 0%;
	padding: 12px 20px;
	display: inline-block;
	border: 2px solid #877ad2;
	border-radius: 15px;
	box-sizing: border-box;
}
.download-button {
	padding: 10px 15px;
	border: 2px solid #877ad2;
	border-radius: 15px;
	color: #f33f06;
	margin-left: 10px;
	cursor: pointer;
	color: #fff9f8;
	width: 120px;
}
.spin {
	margin: 20px auto;
}
