.App {
	position: relative;
	width: 100%;
	min-height: 150vh;
	background-image: url(https://www.mockupworld.co/wp-content/uploads/edd/2015/10/techandall-MacBookPro-Mockup-2.jpg);
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #333;
}
.Container {
	width: 100%;
	position: absolute;
	top: 0;
}

@media screen and (min-width: 650px) {
	.App {
		min-height: 200vh;
	}
}
